.authButtonDesign {
  width: 25vw;
  height: 8vh;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 0.5em;
  font-size: 1rem;
  font-weight: bold;

  cursor: pointer;
  background-color: transparent;
  border: 0.18em solid rgb(0, 26, 255);
  color: rgb(0, 26, 255);
  transition: .3s;
}

.authButtonDesign:hover {
  animation: pulse 1s infinite;
  transition: .3s;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(.9);
  }
    100% {
    transform: scale(1);
  }
}