.authButtonDesign {
  width: 17vw;
  height: 7vh;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 0.3em;
  font-size: 1rem;
  font-weight: bold;

  cursor: pointer;
  background-color: rgb(31, 115, 240);
  border: 0.18em solid rgb(31, 115, 240);
  color: white;
  transition: .3s;
}

.authButtonDesign:hover {
  animation: pulse 1s infinite;
  transition: .3s;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(.9);
  }
    100% {
    transform: scale(1);
  }
}