.headerLinkDesign {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: var(--secondary-color);
  position: relative;
  transition: all 300ms ease;
  font-weight: bold;
  width: fit-content;
  cursor: pointer;
  margin: 1em;
}

/* .headerLinkDesign:hover {
  transform: skew(10deg);
}

.headerLinkDesign::before {
  content: attr(data-name);
  position: absolute;
  top: 0;
  left: -0.2em;
  background: var(--primary-color);
  height: 1em;
  overflow: hidden;
  transition: all 300ms ease;
  padding-left: 0.2em;
}

.headerLinkDesign:hover::before {
  top: -0.18em;
  left: 0;
  color: var(--secondary-color);
}

.headerLinkDesign::after {
  content: "";
  height: 0.06em;
  width: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--secondary-color);
  transition: all 300ms ease;
}

.headerLinkDesign:hover::after {
  width: 120%;
  outline: 0.019em solid var(--primary-color);
} */
