.followingDesign {
  height: auto;
  min-height: 90vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  font-weight: bold;
  color: var(--secondary-color);
}
.followings {
  height: 3em;
  width: 18em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border: 0.1em solid var(--secondary-color);
  border-radius: 0.1em;
  margin-top: 0.3em;
}
.followings img {
  height: 2em;
  width: 2em;
  border-radius: 50%;
}
