.profileDesign {
  height: auto;
  min-height: 90vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-weight: bold;
}
.profileCardDesign {
  height: 28em;
  width: 15em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: rgb(31, 115, 240);
}
.profileCardDesign img {
  height: 10em;
  width: 10em;
  border-radius: 50%;
}
.fieldEr {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.7em;
  height: 1.2em;
  color: red;
  font-size: 1.1rem;
  font-weight: bold;
  background-color: transparent;
}
.editButton form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fieldInputDesign {
  width: 15em;
  height: 2em;
  text-align: center;
  border: 0.2em solid white;
  background-color: white;
  font-size: 1rem;
  font-weight: bold;
  color: rgb(31, 95, 206);
}
.fieldInputDesignError {
  border: 0.2em solid red;
}
.enabledInput {
  background-color: rgb(96, 154, 252);
  color: red;
}
.enabledInput:focus {
  border: 0.2em solid rgb(217, 202, 34);
  outline: none;
}

input[type="file"] {
  display: none;
}

/* Estiliza el label como un botón */
label {
  display: inline-block;
  cursor: pointer;
}

/* input[type="submit"] {
  height: 2.5em;
  width: 6em;
  font-weight: bold;
  background-color: white;
  color: rgb(31, 95, 206);
  border: 0.2em solid rgb(31, 95, 206);
  border-radius: 0.3em;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: rgb(31, 95, 206);
  color: white;
} */
#cam{
  height: auto;
  width: 2em;
}
.submitButton{
  height: 2.5em;
  width: 6em;
  font-weight: bold;
  background-color: white;
  color: rgb(31, 95, 206);
  border: 0.2em solid rgb(31, 95, 206);
  border-radius: 0.3em;
  cursor: pointer;
}
.submitButton:hover{
  background-color: rgb(31, 95, 206);
  color: white;
}
.fileSelected{
  background-color: salmon;
}
