.tablonDesign {
  height: auto;
  width: 80vw;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  border-radius: 1em;
  margin: 2em;
  padding: 1em;
}
.mensajeDesign {
  height: auto;
  width: 70vw;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;

  font-weight: bold;
  font-size: 1.1rem;
  border-bottom: 0.2em solid rgb(96, 154, 252);
  background-color: rgb(249,246,237);
  margin: 1em 2em;
  padding: 0.4em 0;
}

.mensajeDesign:hover {
  background-color: rgb(201, 210, 228);
}
.authMessage{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0.2em;
}
.postAuthorPhoto{
  width: 8vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2em;
  border-radius: 50%;
}
.postInfo{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 0 1em;

}
.postImage{
  max-width: 100%;
  height: auto;
  margin: 0.5em 0;
}
.minorText {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
  padding: 1em 2em 0.1em 2em;
}

.minorText img {
  height: 0.8em;
  width: auto;

  transition: 0.3s;
}
.minorText img:hover,
.minorText img:active {
  cursor: pointer;
  transition: 0.3s;
  transform: scale(1.4);
  filter: drop-shadow(0 0 0.2em rgb(255, 255, 255));
}
.minorText img:active {
  cursor: pointer;
  transition: 0.3s;
  transform: scale(1.2);
  /* filter: drop-shadow(0 0 0.1em rgb(255, 0, 0)); */
}

.comentary {
  padding: 0 2em;
}

.addComment {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.invisible {
  display: none;
}

@media screen and (max-width: 480px) {
  .tablonDesign{
    width: 90vw;
    margin: 0.1em;
    padding: 0.2em;
  }
  .mensajeDesign{
    width: 90vw;
    margin: 0.1em;
    padding: 0.2em;
  }
  .postImage{
    width: 75%;
    height: auto;
    margin: 0.5em 0;
  }
}