.headerDesign {
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  position: relative;
}
.headerDesign::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 80%;
  border-bottom: 2px solid rgb(31, 115, 240);
}
