.postTextAreaDesign {
  overflow-y: hidden;
  width: 16em;
  height: 8em;
  resize: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-align: flex-start;
  border: 0.1em solid transparent;
  background-color: transparent;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: white;
  border: 0.2em solid var(--secondary-color);
  color: var(--secondary-color);
}
