.headerPhotoProfileDesign {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: var(--secondary-color);
  position: relative;
  width: fit-content;
  cursor: pointer;
  margin: 1em;
}

.headerPhotoProfileDesign img {
  height: 3em;
  width: 3em;
  border-radius: 50%;
}