.headerPhotoProfileDesign {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: rgb(31, 115, 240);
  position: relative;
  width: fit-content;
  cursor: pointer;
  margin: 1em;
}

.headerPhotoProfileDesign img {
  height: 3em;
  width: auto;
  border-radius: 50%;
}

.headerPhotoProfileDesign:hover {
  border: 0.2em solid rgb(31, 115, 240);
  border-radius: 50%;
}
.headerPhotoProfileDesign:hover img{
  height: 2.65em;
}